/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&display=swap');
/* Common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-left: 200px;
    border-right: 200px;    
    
}

/* navber style */
.header-text{
    font-size: 12px;
}

header{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.navber{
    display: flex;
    align-items: center;
}
.navber ul li {
    list-style: none;
    display: inline;
    padding-right: 15px;  
   
      
}
 .navber ul li a {
     
    color: black;
    text-decoration: none;
    font-weight: 500;

 }
 .navber img{
     padding-right: 15px;
     width: 19px;
     height: 19px;
    
 }

 /* Top section start now */
 .top-section{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 100px;
 }
 .half-width{
     width: 100%;
     padding-left: 300px;
     padding-right: 100px;
 }
 .half-width img{
     background-image: url(./images/Circle\ design.svg);
     margin-top: 30px;
 }
 .btn{
     color: white;
     font-weight: 700;
     width: 196px;
     height: 44px;
     padding: 10px 24px;
     border-radius: 41px;
     background-color: #E02C6D;
 }
 .btn a{
     padding-left: 10px;
     color: white;
 }

 /* e-commerce-section */

/* .e-commerce-section {
    width: 1110px;
    height: 110px;
    border:  2px solid white;
    margin-top: 20px;
} */
 .e-commerce-logos {
     display: flex;
     justify-content: center;
     align-items: center;
 }
.e-commerce-logos img{
    padding-right: 30px;
}

/* <!-- Popular Collection section Start --> */
.container{
    width: 100%;
    /* width: 1047px;
    height: 1662px; */
}
 .collections{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     

 }
 .collection{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    grid-column-gap: 4px;
    padding: 30px;
    margin-bottom: 20px;
    
 }
 .fa-star {
     color: #FB8200;
 }

 .fa-star-half-alt{
    color: #FB8200;;
 }
 .collection .collection-banner img{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 256px;
    
 }
 .collection-deteil{

   
 }

 .see-more{
     display: flex;
     justify-content:flex-end;
     color: #E02C6D;
 }
 .see-more a{
     padding-left:15px;
 }

 /* pc setup  section */
 .pc-setup-section{
     display: flex;
     align-items: normal;
    width: 1110px;
    height: 270px;
 }
 .pc-setup-section img{
    border-radius: 7px;
    width: 404px;
    height: 270px;

 }